{% extends '@Openl10nWeb/layout/base.html.twig' %}

{% block content %}
  <div id="fb-root"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form action="{{ path("openl10n_security_check") }}" method="POST" class="panel panel-default" novalidate>
          <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
          </div>

          <div class="panel-body">
            {{ form_widget(form) }}
          </div>

          <div class="panel-footer">
            <button type="submit" id="_submit" name="_submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">OAuth Connect</h3>
          </div>

          <div class="panel-body">
            {% for owner in hwi_oauth_resource_owners() %}
              <a class="btn btn-default btn-oauth-{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}" title="{{ owner }}">
                {{ ('provider.' ~ owner)|trans({}, 'oauth') }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    {{ include('@Openl10nUser/Security/js/facebook_popup.html.js', {}, with_context = false) }}
  </script>
{% endblock %}
