{% extends '@Openl10nWeb/layout/base.html.twig' %}

{% trans_default_domain 'user' %}

{% block body %}
<div class="page-wrapper">
  <div class="container">
    <div class="row margin-top-lg">
      <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <form action="{{ path("openl10n_security_check") }}" method="POST" class="panel panel-flat" novalidate>
          <div class="panel-heading panel-heading-lg">
            <h3 class="panel-title">
              {{ 'login.title'|trans }}
            </h3>
          </div>

          <div class="panel-body">
            {{ form_errors(form) }}
            {{ form_row(form._username, {attr: {class: 'input-lg'}}) }}
            {{ form_row(form._password, {attr: {class: 'input-lg'}}) }}
            {{ form_rest(form) }}

            <p>
              <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-lg btn-block">
                {{ 'login.submit'|trans }}
              </button>
            </p>

            <p class="pull-right">
              <a href="#">
                {{ 'login.reset_password.link'|trans }}
              </a>
            </p>
          </div>
        </form>

        <p class="text-center">
          {{ 'login.signup.text'|trans }}
          <a href="#">
            {{ 'login.signup.link'|trans }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
