{% extends '@Openl10nWeb/Project/layout.html.twig' %}

{% import '@Openl10nWeb/layout/macros.html.twig' as macros %}

{% set active_menu = 'languages' %}

{% block settings_content %}
  <div class="row margin-bottom-md">
    <div class="col-sm-12">
      <h3 class="title title-md title-underlined">
        Avalaible languages
      </h3>
    </div>
    <div class="col-md-8">
      <table class="table table-striped table-hover">
        <tbody>
          {% for language in languages %}
            <tr{% if project.defaultLocale == language.locale %} class="active"{% endif %}>
              <td>
                {{ macros.flag(language) }}
                {{ language.name|title }}
                ({{ language.locale }})

                {% if project.defaultLocale == language.locale %}
                  — <span class="text-info">default locale</span>
                {% endif %}
              </td>
              <td>
                {% if project.defaultLocale != language.locale %}
                  <div class="text-right">
                    <a data-toggle="tooltip" data-placement="left" title="Remove language" href="{{ path('openl10n_language_delete', {slug: project.slug, locale: language.locale}) }}">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3 class="title title-md title-underlined">
        Add language
      </h3>
    </div>

    <div class="col-md-8">
      <form action="{{ path('openl10n_language_list', {'slug': project.slug}) }}" method="POST" novalidate>
        {{ form_widget(form) }}

        <p>
          <button type="submit" class="btn btn-primary">Add</button>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
