{% extends '@Openl10nWeb/layout/base.html.twig' %}

{% import '@Openl10nWeb/layout/macros.html.twig' as macros %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ project.name }}'s languages</h3>
        </div>

        <table class="table table-striped table-hover">
          <tbody>
            {% for language in languages %}
              <tr>
                <td>
                  {{ macros.flag(language.locale) }}
                  {{ language.locale.displayName(app.user.preferedLocale)|title }}
                  ({{ language.locale }})

                  {% if project.defaultLocale == language.locale %}
                    — <span class="text-info">default locale</span>
                  {% endif %}
                </td>
                <td class="text-right">
                  {% if project.defaultLocale != language.locale %}
                    <a href="{{ path('openl10n_language_delete', {slug: project.slug, locale: language.locale}) }}">
                      <i class="icon-trash" title="Remove locale"></i>
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="panel-footer">
          <a href="{{ path('openl10n_language_new', {slug: project.slug}) }}" class="btn btn-primary">
            Add locale
          </a>
          <a href="{{ path('openl10n_project_show', {slug: project.slug}) }}" class="btn btn-link">
            Back to project
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

