{% extends '@Openl10nWeb/layout/base.html.twig' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ project.name }}'s locales</h3>
        </div>

        <div class="panel-body">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Locale</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for locale in locales %}
                <tr{% if project.defaultLocale == locale.locale %} class="active"{% endif %}>
                  <td>
                    {{ locale.locale.displayName }}
                    ({{ locale.locale }})
                    {% if project.defaultLocale == locale.locale %}
                      — <span class="text-info">default locale</span>
                    {% endif %}
                  </td>
                  <td>
                    {% if project.defaultLocale != locale.locale %}
                      <a href="{{ path('openl10n_language_delete', {slug: project.slug, locale: locale.locale}) }}">
                        <i class="icon-trash" title="Remove locale"></i>
                      </a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="panel-footer">
          <a href="{{ path('openl10n_language_new', {slug: project.slug}) }}" class="btn btn-primary">
            Add locale
          </a>
          <a href="{{ path('openl10n_project_show', {slug: project.slug}) }}" class="btn btn-link">
            Back to project
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

