{% extends '@Openl10nWeb/layout/base.html.twig' %}

{% block body %}
  {{ include('@Openl10nWeb/Design/_navbar.html.twig') }}

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{ include('@Openl10nWeb/Design/_alert.html.twig') }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{ include('@Openl10nWeb/Design/_typo.html.twig') }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{ include('@Openl10nWeb/Design/_panel.html.twig') }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{ include('@Openl10nWeb/Design/_buttons.html.twig') }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{ include('@Openl10nWeb/Design/_form.html.twig') }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{ include('@Openl10nWeb/Design/_list-group.html.twig') }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{ include('@Openl10nWeb/Design/_media.html.twig') }}
      </div>
    </div>
  </div>
{% endblock body %}
