<a href="projects/{{slug}}" class="sidebar-menu--item project-special">
  <i class="item-icon fa fa-rocket"></i>
  <span class="item-name" id="project-title">
    {{name}}
  </span>
</a>

<a href="projects/{{slug}}" class="sidebar-menu--item" data-name="resources">
  <i class="item-icon fa fa-file-text-o"></i>
  <span class="item-name">
    Resources
  </span>
</a>

<a href="projects/{{slug}}/translate" class="sidebar-menu--item editor-special" data-name="translate">
  <i class="item-icon fa fa-language"></i>
  <span class="item-name">
    Translate
  </span>
</a>

{{!--
<a href="projects/{{slug}}/proofread" class="sidebar-menu--item editor-special" data-name="proofread">
  <i class="item-icon fa fa-eye-slash"></i>
  <span class="item-name">
    Proofread
  </span>
</a>

<a href="#" class="sidebar-menu--item">
  <i class="item-icon fa fa-upload"></i>
  <span class="item-name">
    Releases
  </span>
</a>

<a href="projects/{{slug}}/edit" class="sidebar-menu--item">
  <i class="item-icon fa fa-wrench"></i>
  <span class="item-name">
    Settings
  </span>
</a>
 --}}
