<div class="ol-editor-branding">
  <a href="{{ path('openl10n_homepage') }}">
    <i class="ol-editor-logo-icon fa fa-pencil"></i>
  </a>
</div>

<div class="ol-editor-header-inner">
  <div class="pull-left">
    <div class="ol-editor-header-title">
      <a class="project-name" href="{{ path('openl10n_project_show', {slug: project.slug}) }}">
        {{ project.name }}
      </a>

      <div class="ol-editor-domain-list dropdown">
        <a data-toggle="dropdown" href="#">
          <span class="domain-name">
            All phrases
          </span>
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li>
            <a href="#" data-id="*">
              <span class="domain-name">
                All Phrases
              </span>
            </a>
          </li>
          {% for domain in domains %}
            <li>
              <a href="#" data-id="{{ domain.slug }}">
                <span class="domain-name">
                  {{ domain.name }}
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="pull-right">
    <div class="ol-editor-header-item ol-editor-header-item-form">
      <select class="form-control source-locale">
        {% for language in languages %}
          <option value="{{ language.locale }}">
            {{ language.name }} ({{ language.locale }})
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="ol-editor-header-item ol-editor-header-item-text">
      <p>
        <i class="fa fa-arrow-right"></i>
      </p>
    </div>

    <div class="ol-editor-header-item ol-editor-header-item-form">
      <select class="form-control target-locale">
        {% for language in languages %}
          <option value="{{ language.locale }}">
            {{ language.name }} ({{ language.locale }})
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
