{% extends '@Openl10nWeb/Project/layout.html.twig' %}

{% set active_menu = 'resources' %}

{% block settings_content %}
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title title-md title-underlined">
        Export translations
      </h3>
    </div>
    <div class="col-sm-8">
      <form action="{{ path('openl10n_resource_export', {project: project.slug, resource: resource.hash}) }}" method="POST" {{ form_enctype(form) }} novalidate>

          <div>
            {{ form_row(form.locale) }}
            {{ form_row(form.options) }}

            {{ form_rest(form) }}
          </div>

          <div>
            <button type="submit" class="btn btn-primary">
              Export
            </button>
          </div>
      </form>
    </div>
  </div>
{% endblock %}
