{% if domains is empty %}

  <div class="jumbotron">
    <p>
      There is no translation yet in this project! :-(
    </p>
    <p>
      <a href="{{ path('openl10n_domain_import', {'slug': project.slug}) }}" class="btn btn-primary btn-lg">
        Import translations
      </a>
      <a href="#" class="btn btn-link btn-lg">
        Learn more
      </a>
    </p>
  </div>

{% else %}

  <h3>
    Domains
  </h3>

  <div class="row">
    {% for domain in domains %}
      <div class="col-sm-4">
        <a class="panel panel-default domain-card" href="{{ path('openl10n_translation_list', {project: project.slug, domain: domain.slug, target: context.target}) }}">
        {#<a class="panel panel-default domain-card" href="{{ path('openl10n_editor_translate', {'project': project.slug}) }}#fr/{{ domain.slug }}">#}
          <div class="panel-body">
            {#<span class="label label-success">100%</span>#}
            <strong>{{ domain.name }}</strong>
          </div>
        </a>
      </div>
    {% endfor %}

    <div class="col-sm-4">
      <a href="{{ path('openl10n_domain_import', {'slug': project.slug}) }}" class="panel panel-default domain-card">
        <div class="panel-body">
          <i class="fa fa-cloud-upload"></i>
          Import translations
        </div>
      </a>
    </div>
  </div>

{% endif %}
