<div class="margin-bottom-sm">

{% if domains is empty %}

  <div class="jumbotron">
    <p>
      There is no translation yet in this project! :-(
    </p>
    <p>
      <a href="{{ path('openl10n_domain_import', {'slug': project.slug}) }}" class="btn btn-primary btn-lg">
        Import translations
      </a>
      <a href="#" class="btn btn-link btn-lg">
        Learn more
      </a>
    </p>
  </div>

{% else %}

  <h3 class="title title-md title-underlined">
    <div class="pull-right">
      <a href="#" class="btn btn-xs btn-success">
        <i class="fa fa-pencil"></i>
        <span class="margin-left-xs">
          Translate
        </span>
      </a>
    </div>
    Domains
  </h3>

  <div class="row">
    <div class="col-sm-12">
      <ul class="list-unstyled x-list-domains margin-bottom-md">
        {% for domain in domains %}
          <li>
            <div class="x-item">
              <div class="pull-right">
                <a href="#" class="heading actions">
                  <i class="fa fa-cog"></i>
                </a>
              </div>

              <a class="heading" href="{{ path('openl10n_translation_list', {project: project.slug, domain: domain.slug, target: 'en'}) }}">
                <span class="progress" style="width:30%"></span>

                <i class="fa fa-tag"></i>
                <span class="name">
                  {{ domain.name }}
                </span>
              </a>

              <ul class="list-unstyled x-list-resources">
                <li>
                  <a href="#" data-toggle="collapse" data-target="#collapse-{{ domain.name }}" class="collapsed">
                    <div class="pull-right">
                      <small>
                        ?? keys
                      </small>
                    </div>
                    <small>
                      <i class="fa fa-caret-down"></i>
                      <i class="fa fa-caret-right"></i>
                      ? resources
                    </small>
                  </a>
                </li>
              </ul>

              <ul class="list-unstyled x-list-resources collapse out" id="collapse-{{ domain.name }}">
                <li>
                  <a href="#">
                    <i class="fa fa-file-text-o"></i>
                    /path/to/{{ domain.name }}.<span class="placeholder">en_GB</span>.yml
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-file-text-o"></i>
                    /path/to/other/{{ domain.name }}.<span class="placeholder">en_GB</span>.yml
                  </a>
                </li>
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    {# <div class="col-sm-6">
      <a href="{{ path('openl10n_domain_import', {'slug': project.slug}) }}" class="panel panel-default domain-card">
        <div class="panel-body">
          <i class="fa fa-cloud-upload"></i>
          Import translations
        </div>
      </a>
    </div> #}
  </div>

{% endif %}

</div>
