{% extends '@Openl10nWeb/layout/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <link rel="stylesheet" href="{{ asset('assets/dist/css/editor.css') }}" />
{% endblock stylesheets %}

{% block requirejs %}
  <script>
    var editorAppData = {{ data|json_encode|raw }};
  </script>

  {{ include('@Openl10nWeb/layout/_requirejs.html.twig', {
      module: 'editor/init'
  }, with_context=false) }}
{% endblock %}

{% block body %}
  <div class="ol-editor-layout" id="ol-editor-layout">
    <div class="ol-editor-header" id="ol-editor-header">
      <div class="ol-editor-branding">
        <a href="{{ path('openl10n_homepage') }}">
          <i class="ol-editor-logo-icon"></i>
        </a>
      </div>

      <div class="ol-editor-header-inner">
        <div class="pull-left">
          <div class="ol-editor-header-title">
            <a class="project-name" href="{{ path('openl10n_project_show', {slug: project.slug}) }}">
              {{ project.name }}
            </a>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div> <!-- /.ol-editor-header -->

    <div class="ol-editor-row ol-editor-actionbar">
      <div class="ol-editor-filter ol-editor-col-30" id="ol-editor-filter">
        <div class="form-group">
          <i class="prepend-icon fa fa-search"></i>
          <input type="text" class="form-control input-lg" id="translationFilterInput" placeholder="Search…" autocomplete="off">
        </div>
      </div>

      <div>
        <div class="pull-left">
          <div class="btn-group">
            <button class="btn btn-default btn-lg">
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>

        <div class="pull-right" id="ol-editor-actions">
        </div>
      </div>
    </div>

    <div class="ol-editor-row ol-editor-content">
      <div class="ol-editor-sidebar ol-editor-col-30">
        <div class="ol-editor-translation-list-filters row" id="ol-editor-translation-list-filters">
          <div class="col-sm-6">
            <a data-toggle="dropdown" href="#" class="dropdown">
              <i class="fa fa-filter"></i>
              Filters <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#" class="filter-clear">
                  <i class="fa fa-times-circle"></i>
                  Clear filters
                </a>
              </li>
              <li>
                <a href="#" class="filter-translated">
                  <i class="fa fa-flag"></i>
                  Missing translation
                </a>
              </li>
              <li>
                <a href="#" class="filter-reviewed">
                  <i class="fa fa-clock-o"></i>
                  Need to be reviewed
                </a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 text-right">
            ∞ translations
          </div>
        </div>

        <div class="ol-editor-translation-list fullheight" id="ol-editor-translation-list">
        </div>
      </div> <!-- /.ol-editor-sidebar -->

      <div class="ol-editor-main ol-editor-col-70">
        <div class="ol-editor-mainbar">
        </div>

        <div class="ol-editor-translation-edit" id="ol-editor-translation-edit">
        </div>
      </div> <!-- /.ol-editor-main -->
    </div> <!-- /.ol-editor-content -->
  </div>

  <script type="text/template" id="ol-editor-template-header">
    {{ include('@Openl10nEditor/Editor/js_templates/header.html.twig', {
      project: project,
      domains: domains,
      languages: languages
    }, with_context = false) }}
  </script>

  <script type="text/template" id="ol-editor-translation-item-template">
    {{ include('@Openl10nEditor/Editor/js_templates/translation-item.html.twig', {}, with_context = false) }}
  </script>

  <script type="text/template" id="ol-editor-translation-edit-template">
    {{ include('@Openl10nEditor/Editor/js_templates/translation-edit.html.twig', {}, with_context = false) }}
  </script>

  <script type="text/template" id="ol-editor-actions-template">
    {{ include('@Openl10nEditor/Editor/js_templates/actions.html.twig', {}, with_context = false) }}
  </script>

  <script type="text/template" id="ol-editor-filter-template">
    {{ include('@Openl10nEditor/Editor/js_templates/filter.html.twig', {}, with_context = false) }}
  </script>
{% endblock %}
