{% extends '@Openl10nUser/Settings/layout.html.twig' %}

{% trans_default_domain 'user' %}
{% set active_menu = 'general' %}

{% block settings_content %}
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title title-md title-underlined">
        {{ 'settings.general.title'|trans }}
      </h3>
    </div>
    <div class="col-sm-8">
      <form action="{{ path('openl10n_user_settings_general') }}" method="POST" novalidate>

          <div>
            {{ form_widget(form) }}
          </div>

          <div>
            <button type="submit" class="btn btn-primary">
              {{ 'settings.general.submit'|trans }}
            </button>
          </div>
      </form>
    </div>

    <div class="col-sm-3 hidden-xs">
      <p>
        <img class="img-responsive" src="{{ avatar_url(app.user.email, 150) }}" alt="Avatar">
      </p>

      <p>
        {{ 'settings.general.gravatar'|trans }}
        <a href="http://www.gravatar.com/">Gravatar.com</a>
      </p>
    </div>
  </div>
{% endblock %}
