{% extends '@Openl10nUser/Settings/layout.html.twig' %}

{% trans_default_domain 'user' %}
{% set active_menu = 'leave' %}

{% block settings_content %}
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title title-md title-underlined">
        {{ 'settings.leave.title'|trans }}
      </h3>
    </div>
    <div class="col-md-8">
      <form action="{{ path('openl10n_user_settings_leave') }}" method="POST" novalidate>
        {{ form_widget(form) }}

        <p class="lead">
          {{ 'settings.leave.text'|trans|raw }}
        </p>

        <div>
          <button type="submit" class="btn btn-danger">
            {{ 'settings.leave.submit'|trans }}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
