{% extends '@Openl10nWeb/layout/main.html.twig' %}

{% set active_menu = active_menu|default('') %}

{% block content %}
  <div class="ol-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>
            <h2 class="title title-lg">
              <a href="{{ path('openl10n_project_show', {slug: project.slug}) }}">
                {{ project.name }}
              </a>
              / Settings
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="list-group x-list-group-aside">
          <a href="{{ path('openl10n_project_edit', {slug: project.slug}) }}" class="list-group-item {% if active_menu == 'edit' %}active{% endif %}">
            Edit project settings
          </a>
          <a href="{{ path('openl10n_language_list', {slug: project.slug}) }}" class="list-group-item {% if active_menu == 'languages' %}active{% endif %}">
            Manage languages
          </a>
          <a href="{{ path('openl10n_resource_list', {project: project.slug}) }}" class="list-group-item {% if active_menu == 'resources' %}active{% endif %}">
            Manage resources
          </a>
          <a href="{{ path('openl10n_project_delete', {'slug': project.slug}) }}" class="list-group-item {% if active_menu == 'delete' %}active{% endif %}">
            Delete project
          </a>
        </div>
      </div>

      <div class="col-md-8">
        {% block settings_content '' %}
      </div>
    </div>
  </div>
{% endblock %}
