{% extends '@Openl10nWeb/layout/base.html.twig' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form action="{{ path('openl10n_project_new') }}" method="POST" class="panel panel-default" novalidate>
          <div class="panel-heading">
            <h3 class="panel-title">New project</h3>
          </div>

          <div class="panel-body">
            {{ form_errors(form) }}

            {{ form_row(form.name, {'attr': {
              'class': 'js-slugify',
              'data-slug': form.slug.vars.id
            }}) }}

            {{ form_row(form.slug) }}

            {{ form_rest(form) }}
          </div>

          <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{{ path('openl10n_project_list') }}" class="btn btn-link">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
