{% extends '@Openl10nWeb/layout/main.html.twig' %}

{% import '@Openl10nWeb/layout/macros.html.twig' as macros %}

{% block content %}
  <div class="ol-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="{{ path('openl10n_project_list') }}" class="x-back-link pull-left">
            <i class="fa fa-chevron-left"></i>
          </a>

          <div class="pull-right">
              <a class="btn btn-dark" href="{{ path('openl10n_project_edit', {'slug': project.slug}) }}" title="Edit">
                <i class="fa fa-cogs"></i>
              </a>

              <a href="{{ path('openl10n_translation_list', {project: project.slug, target: project.defaultLocale}) }}" class="btn btn-success">
                <i class="fa fa-pencil"></i>
                <span class="margin-left-xs">
                  Translate
                </span>
              </a>
          </div>

          <div>
            <h2 class="title title-lg">
              {{ project.name }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-xs hidden-sm">
        <div>
          <ul class="nav nav-vtabs x-nav-languages">
            <li {% if in_locale is null %}class="active"{% endif %}>
              <a href="{{ path('openl10n_project_show', {slug: project.slug}) }}">
                <p class="main">
                  All Languages
                </p>
                <p class="meta">
                  ?? translations
                </p>
              </a>
            </li>
            {% for language in languages %}
              <li {% if in_locale == language.locale %}class="active"{% endif %}>
                <a href="{{ path('openl10n_project_show', {slug: project.slug, locale: language.locale}) }}">
                  <p class="main">
                    {{ macros.flag(language) }}
                    {{ language.name|title }}

                    {# <span class="text-muted">
                      {{ language.locale }}
                    </span> #}
                  </p>
                  <p class="meta">
                    ??% translated – ??% reviewed
                  </p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        {{ render(controller('Openl10nWebBundle:ProjectWidget:listDomains', {'project': project})) }}

        {# {{ render(controller('Openl10nWebBundle:ProjectWidget:feeds', {'project': project})) }} #}
      </div>

      <div class="col-md-3">
        {{ render(controller('Openl10nWebBundle:ProjectWidget:stats', {'project': project})) }}

        {{ render(controller('Openl10nWebBundle:ProjectWidget:releases', {'project': project})) }}
      </div>
    </div>
  </div>
{% endblock %}
