{% extends '@Openl10nWeb/layout/main.html.twig' %}

{% import '@Openl10nWeb/layout/macros.html.twig' as macros %}

{% block content %}
  <div class="ol-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <div class="btn-group pull-right">
              <a class="btn btn-dark" href="{{ path('openl10n_project_edit', {'slug': project.slug}) }}" title="Edit">
                <i class="fa fa-cogs"></i>
                Settings
              </a>
            </div>
          </div>

          <div>
            <h2 class="title title-lg">
              {{ project.name }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-4 hidden-xs hidden-sm">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="{{ path('openl10n_language_list', {'slug': project.slug}) }}" class="pull-right">
                <i class="fa fa-cogs"></i>
              </a>
              Languages
            </h3>
          </div>
            <table class="table">
              {% for language in project.languages %}
                <tr>
                  <td>
                    {{ macros.flag(language.locale) }}
                    {{ language.locale.displayName(app.user.preferedLocale)|title }}
                  </td>
                </tr>
              {% endfor %}
            </table>
        </div>
      </div>

      <div class="col-md-8">
        {{ render(controller('Openl10nWebBundle:ProjectWidget:listDomains', {'project': project})) }}
      </div>
    </div>
  </div>

{% endblock %}
