{% extends '@Openl10nWeb/Project/layout.html.twig' %}

{% set active_menu = 'export' %}

{% block settings_content %}
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title title-md title-underlined">
        Export translations in {{ project.name }}
      </h3>
    </div>
    <div class="col-sm-8">
      <form action="{{ path('openl10n_domain_export', {'slug': project.slug}) }}" method="POST" {{ form_enctype(form) }} novalidate>

          <div>
            {{ form_row(form.domain) }}
            {{ form_row(form.locale) }}
            {{ form_rest(form) }}
          </div>

          <div>
            <button type="submit" class="btn btn-primary">
              Export
            </button>
          </div>
      </form>
    </div>
  </div>
{% endblock %}
