<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('openl10n_homepage') }}">
        OpenLocalization
      </a>
    </div>

    <nav class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ path('openl10n_project_list') }}">
            Projects
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if is_granted('ROLE_USER') %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle x-navbar-pic" data-toggle="dropdown">
              <img src="{{ avatar_url(app.user.email, 32) }}" alt="Avatar" class="img-circle">
            </a>
            <ul class="dropdown-menu navbar-user-dropdown">
              <li>
                <span class="user-info">
                  <p class="meta-displayname">
                    {{ app.user.displayName }}
                  </p>
                  <p class="meta-email">
                    {{ app.user.email }}
                  </p>
                  <p class="links">
                    <a href="{{ path('openl10n_user_profile_show', {username: app.user.username}) }}" class="btn btn-primary">
                      Show my profile
                    </a>
                    <a href="{{ path('openl10n_user_settings_general') }}" class="btn btn-link">
                      Settings
                    </a>
                  </p>
                </span>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{{ path('openl10n_security_logout') }}">
                  Logout
                </a>
              </li>
            </ul>
          </li>
        {% else %}
          <li>
            <a href="{{ path('openl10n_security_login') }}">
              Login
            </a>
          </li>
        {% endif %}
      </ul>
    </nav><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</header>
